.promo
    .containerForPromo
        .tagline
            .tagline__text
                h2 Вкус, с которого все начиналось
            .tagline__logo
        .promoButtons
            .promoButtons__btn
                img(src="../../img/2.svg", alt="").promoButtons__btn__img
                .promoButtons__btn__title Каталог продукции
            .promoButtons__btn
                img(src="../../img/3.svg", alt="").promoButtons__btn__img
                .promoButtons__btn__title Информация для дистрибьюторов
            .promoButtons__btn
                img(src="../../img/4.svg", alt="").promoButtons__btn__img
                .promoButtons__btn__title Информация для магазинов
            .promoButtons__btn
                img(src="../../img/5.svg", alt="").promoButtons__btn__img
                .promoButtons__btn__title Контактные данные