// Таблица стилей для promo блока
@import "./../../components/promoMain/promoMain.styl"

// Таблица стилей для info блока
@import "./../../components/infoMain/infoMain.styl"

// Таблица стилей для feedback блока
@import "./../../components/feedbackMain/feedbackMain.styl"