.container
    width 900px
    margin 0 auto

.textContent
    margin-bottom 50px
    color #920049
    &__header
        h1
            font-size 130px
            border-bottom 3px solid #920049
            width max-content
            margin 0
        h2 
            font-size 45px
            margin 0
    &__text
        p
            font-size 18px
        iframe
            margin 50px 0
        &__media
            margin 50px 0
            display flex
            flex-wrap wrap
            justify-content center
            align-items center
            background-color #e2d3b6
            border-radius 30px
            img
                margin 20px
                border-radius 10px
                height 400px
        &__mediaList
            margin 50px 0
            display flex
            justify-content center
            align-items center
            img
                max-width 200px
                margin-right 40px

                
            

            