//- Страница: Компания
//- Наследуемый шаблон: base.pug
extends ../../layouts/base/base.pug

//- Подключенные миксины
include ../../mixins/textContentMixin

//- Переменные
block variables
    - var pageTitle = "О компании"

//- Подключенные таблицы стилей
block links
    link(rel="stylesheet" href="../../css/aboutCompany.css") 

//- Контент страницы
block content
    
    +textContentMixin ({h1: "Компания", h2: 'ЗАО "Микояновский мясокомбинат"'})
        .textContent__text
            p На сегодняшний день Микояновский мясокомбинат является бесcпорным лидером отечественной мясоперерабатывающей промышленности, не имея себе равных по конкурентно способности продукции на рынке, темпам модернизации производственной базы и эффективности капиталовложений. По результатам независимого исследования экономического издания "Эксперт", Микояновский мясокомбинат входит в рейтинг двухсот ведущих компаний по объему реализации продукции и при этом занимает среди них 10-е место по темпам прироста.")
            p На сегодняшний день Микояновский мясокомбинат является бесcпорным лидером отечественной мясоперерабатывающей промышленности, не имея себе равных по конкурентно способности продукции на рынке, темпам модернизации производственной базы и эффективности капиталовложений. По результатам независимого исследования экономического издания "Эксперт", Микояновский мясокомбинат входит в рейтинг двухсот ведущих компаний по объему реализации продукции и при этом занимает среди них 10-е место по темпам прироста.
            p С 1998 года Микояновский мясокомбинат входит в состав корпорации «ЭКСИМА» - официального поставщика продуктов питания для Москвы. Финансовая поддержка «Эксимы» позволила ММК значительно укрепить свои позиции на отечественном рынке. Благодаря грамотной маркетинговой стратегии, география регионального присутствия «Микояна» продолжает стремительно расширяться, открываются новые представительства по всей России.
            p Мощности и современные технологии позволяют мясному гиганту производить более 400 тонн продукции в сутки. Ассортимент предлагаемого рынку товара на сегодняшний день составляет 250 наименований колбас и деликатесов, а также почти 40 наименований мясных и мясорастительных консервов. И это далеко не предел. Высококвалифицированные технологи «Микояна» трудятся, постоянно предлагая на суд потребителя всевозможные новинки. Сотрудники Комбината желают, чтобы даже самому взыскательному покупателю пришелся по вкусу "микояновский" продукт.

            .textContent__text__media
                iframe(width="800" height="470px" src="https://www.youtube.com/embed/y8tIP30hqfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        
            p В новом веке распахнул свои двери для покупателей новый фирменный магазин. Благодаря полноте ассортимента, ценам от производителя и высокому уровню обслуживания магазин очень быстро приобрел популярность у москвичей и гостей столицы. Кроме того, для удобства покупателей в 25 районах Москвы ведут торговлю "микояновские" автомагазины.

            p На сегодняшний день на Микояновском мясокомбинате трудится почти 3000 москвичей и жителей Подмосковья. На предприятии огромное значение придают обучению и продвижению молодых кадров. Фамильные династии специалистов, прошедшие классическую "микояновскую" школу, снискали Комбинату славу "кузницы кадров". Уже доброй традицией на «Микояне» стало из поколения в поколение передавать трудовые навыки, делиться профессиональным опытом, воспитывать любовь к своему делу. Вот уже более половины столетия работают здесь трудовые династии Ручкиных, Сомовых, Сахаровых, Алымовых, Горбуновых. Молодежь учат вкладывать в дело не только умение, но и душу.

            p Сегодня мы с уверенностью смотрим в будущее. У нас хорошие перспективы и далеко идущие планы: увеличение объемов реализации, повышение эффективности труда, ввод новых мощностей, расширение ассортиментной линии, освоение новых регионов, открытие новых фирменных магазинов.