.container
    .info
        .infoBlock
            img(src="../../img/b1.jpg", alt="").infoBlock__img
            p.infoBlock__text Оригинальные вкусовые качества, свежесть и натуральность используемых ингредиентов, запоминающийся вид и удобство упаковки, способность продукции к длительному хранению — вот, что характеризует нашу продукцию на протяжении всей истории работы предприятия.
            img(src="../../img/1.png", alt="").infoBlock__logo
        .infoBlock
            img(src="../../img/b2.jpg", alt="").infoBlock__img
            p.infoBlock__text Микояновский мясокомбинат является старейшим мясоперерабатывающим предприятием страны, его история насчитывает более 210 лет. Первое упоминания о том, что на месте современных микояновских корпусов когда-то располагались мясницкие бойни, относятся к 1798 году.
            img(src="../../img/1.png", alt="").infoBlock__logo
        .infoBlock.infoBlock_big
            .infoBlock_big__imgs
                img(src="../../img/b3.jpg", alt="").infoBlock__img
                img(src="../../img/b4.jpg", alt="").infoBlock__img
            p.infoBlock_big__text.infoBlock__text Главной целью любого производства является получение высококачественной продукции с конкурентноспособной ценой. Чтобы достичь такого результата, важно располагать современным технологическим оборудованием самых последних разработок от зарекомендовавших себя, ведущих мировых брендов.
            .infoBlock_big__btn 
                p Узнать подробнее
            img(src="../../img/1.png", alt="").infoBlock__logo