.container
    width 900px
    margin 0 auto

.info
    display flex
    justify-content space-between
    flex-wrap wrap
.infoBlock
    width 400px
    height 400px
    background-color #8D0047
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    margin-left 20px
    margin-top 60px
    &::before
        content ""
        display block
        position absolute
        width inherit
        height inherit
        transform translateX(-20px) translateY(-20px)
        background-color #E2D3B6
        z-index -1
    &__img
        width 200px
        border 4px solid white
        margin-top 20px
    &__text
        text-align center
        color white
        padding 0 25px
    &__logo
        width 100px
        margin-bottom 20px

.infoBlock_big
    width 880px
    margin-left 20px
    height 449px
    &__text
        padding 0 60px
    &__imgs
        width 60%
        display flex
        justify-content center
        align-items center
        padding-bottom 30px
        margin-top 20px
        border-bottom 2px solid #E2D3B6
        .infoBlock__img
            margin 0 20px
    &__btn
        width 200px
        height 60px
        background-color #E2D3B6
        margin 20px
        display flex
        justify-content center
        align-items center
        color #8D0047
        margin 20px 100%
        padding 4px 20px
        font-size 20px
        p
            text-align center


