.feedback
    display flex
    justify-content center
    flex-wrap wrap
    margin-top 30px
    align-items center

    &__block
        background-color #8D0047
        color #E2D3B6
        flex-grow 1
        margin 30px
        margin-right 0
        font-weight: 200
        font-size: 25px
        text-align: center
        display flex
        align-items center
        justify-content center
        flex-wrap wrap
        padding 47px 0
        height 126px
        width 400px

        h2
            margin 0
            width 100%

        &:nth-child(3)
            word-wrap break-word

    &__btn
        width 203px
        height 203px
        border 6px solid #8D0047
        margin-left 30px
        display flex
        justify-content center
        align-items center
        &:hover
            background-color #e2d3b6
            transition all 0.5s ease
            img
                transform scale(1.2)
                transition all 0.5s ease

