.container
    .feedback
        img.feedback__img(src="../../img/bull-face.svg", alt="")
        .feedback__block
            h2 Есть предложения?
            br
            h2 Остались вопросы?
        .feedback__block 
            h2 Воспользуйтесь нашей формой 
            h2 обратной связи!
        .feedback__btn
            img(src="../../img/telephone.svg", alt="")