//- Страница: История завода
//- Наследуемый шаблон: base.pug
extends ../../layouts/base/base.pug

//- Подключенные миксины
include ../../mixins/textContentMixin

//- Переменные
block variables
    - var pageTitle = "Продукция"

//- Подключенные таблицы стилей
block links
    link(rel="stylesheet" href="../../css/products.css")
    link(rel="stylesheet" href="../../css/buttons.css")

//- Контент страницы
block content
    +textContentMixin({h1: "Продукция", h2: "Продукция Микояновского мясокомбината"})
        .textContent__text
            p Продукция Микояновского мясокомбината — это очень качественная продукция с широким ассортиментом. Мы являемся старейшим предприятием мясной отрасли России и обладаем не только самым современным оборудованием и технологиями, но и отточенными традициями производства и надзора за качеством.

            p Два века кропотливого труда и дисциплины сформировали на нашем предприятии привычку делать свое дело только на «отлично».

            p Именно на нашем мясокомбинате разработаны такие марки колбас, как «Докторская» и «Любительская». Особо следует отметить тот факт, что именно Микояновский мясокомбинат стал базовым предприятием для разработки и внедрения ГОСТов колбасных изделий, производившихся в СССР. Большинство из созданных в то время государственных стандартов действуют и сейчас.

            p Свое нынешнее название Микояновский мясокомбинат получил в 1933 году по имени тогдашнего наркома торговли СССР — Анастаса Ивановича Микояна. Он лично ездил в Америку, чтобы изучить опыт колбасного производства и придирчиво курировал строительство мясоперерабатывающего комплекса.

            p Микоян — инновационный мясокомбинат, специалисты которого постоянно отслеживают мировые тенденции своей отрасли и первым внедряет в производство появляющиеся на рынке переработки мяса инновационные новинки. На нашем заводе действует международная система контроля качества: ISO-9001. Это означает, что у нас вся технологическая цепочка контролируется на любом этапе производства – от поставки сырья и его подготовки, до изготовления продукта, его упаковки и отправки на склад.

            .textContent__text__mediaList
                img(src="../../img/a1.jpg", alt="")

                p Оригинальные вкусовые качества, свежесть и натуральность используемых ингредиентов, запоминающийся вид и удобство упаковки — вот, что характеризует нашу продукцию на протяжении всей истории работы предприятия.

            .textContent__text__mediaList
                img(src="../../img/a2.jpg", alt="")
            
                p Коллекция деликатесов «Охотный ряд» - это уникальные мясные продукты, производимые по старинным рецептам производства купца Благушина, который основал свое мясное дело в конце XVII века на землях Ямской Рогожской Слободы.

            .textContent__text__mediaList
                img(src="../../img/a3.jpg", alt="")

                p Под торговой маркой « Пивчики» выпускается вкусная закуска к пиву - тонкие сырокопченые колбаски. «Пивчики» давно по достоинству оценили как любители пива, так и те, кто просто любит вкусно и сытно перекусить.

            .textContent__text__mediaList
                img(src="../../img/a4.jpg", alt="")

                p Что может быть лучше, веселого пикника с семьей или друзьями? Конечно, очень важным моментом является приготовление мяса на огне, ведь ни один пикник не обходится без ароматных шашлыков и сочных жареных колбасок.

            .textContent__text__mediaList
                img(src="../../img/a6.jpg", alt="")

                p Одно из лучших предложений в соотношении цена/качество. При изготовлении ряда колбас используется натуральное традиционное копчение на древесных опилках. Доступные колбасы от «Русского фермера» созданы по специально разработанным уникальным рецептам наших технологов.

            p Если вам необходимо ознакомиться с сертификатами на продукцию, вы можете скачать все сертификаты по кнопке ниже

            .button_big 
                h2 Скачать сертификаты на продукцию

            



