//- Страница: Производство
//- Наследуемый шаблон: base.pug
extends ../../layouts/base/base.pug

//- Подключенные миксины
include ../../mixins/textContentMixin

//- Переменные
block variables
    - var pageTitle = "Производство"

//- Подключенные таблицы стилей
block links
    link(rel="stylesheet" href="../../css/production.css")

//- Контент страницы
block content
    +textContentMixin({h1: "Производство", h2: "Современное производство на Микояновском мясокомбинате"})
        .textContent__text
            p Современное производство представляет собой выверенное сочетание и реализацию на практике нескольких условий:
            ul
                li Использование оборудования последних моделей известных брендов
                li Соблюдение международных стандартов группы ISO 9000
                li Соблюдение системы менеджмента качества ГОСТ Р ИСО 9001-2008
                li Наличие работающей системы управления качеством окружающей среды
                li Открытость для органов государственного контроля
                li Доступность участия в производстве заинтересованных инвесторов
                li Внимательность к персоналу и условиям его труда
                
            .textContent__text__media
                img(src="../../img/b3.jpg", alt="")

            p Главной целью любого производства является получение высококачественной продукции с конкурентноспособной ценой. Чтобы достичь такого результата, важно располагать современным технологическим оборудованием самых последних разработок от зарекомендовавших себя, ведущих мировых брендов.
            p В производственных цехах нашего мясокомбината используется современное оборудование от следующих производителей:
            ul
                li Wiegand (Германия) http://www.wiegand-international.de/
                li Ness (Германия) http://www.nessgmbh.de/ness/
                li Guenther (Германия) http://www.guenther-foodtech.de/
                li Cato (Испания) http://www.cato.es/
                li Scotsman (Италия) http://www.scotsman-ice.it/
            p Наше оборудование функционирует под управлением передового и полнофункционального программного обеспечения. Это позволяет полностью использовать все возможности станков и механизмов, эксплуатируя их как единое целое, что гарантирует получение наилучших результатов.

            h2 Международные стандарты группы ISO 9000
            p Эти стандарты включают в себя набор требований к производству, которые призваны обеспечивать стабильно высокое качество продуктов и услуг. Регламентированию подлежат все сферы деятельности предприятия:
            ul
                li Производство
                li Управление
                li Контроль качества
                li Закупки необходимых материалов
                li Продажа продукции и многое другое
            p Микояновский мясокомбинат поддерживает отношения с зарубежными партнерами и всегда соблюдает международные требования к качеству своей продукции.

            h2 Национальный стандарт ГОСТ Р ИСО 9001-2008
            p Микояновский мясокомбинат сертифицирован по ГОСТ Р ИСО 9001-2008. А это означает, что все процессы, происходящие на нашем предприятии, строго регламентированы, что гарантирует соответствие высоким государственным стандартам в области производства качественной продукции и, в случае необходимости, может быть эффективно проверено.
            .textContent__text__media
                img(src="../../img/b5.jpg", alt="")
            p Четкость формулировок этого государственного стандарта создает жесткий костяк правил функционирования современного, технологически развитого предприятия и задает направление для формирования производственного потенциала на будущее.

            h2 Система управления качеством окружающей среды
            p Любое производство, и наше не является исключением, оказывает воздействие на окружающую среду. Степень этого воздействия, как и отношение к факту его существования, характеризует компанию с точки зрения ответственного отношения к своей производственной деятельности и внимания к экологии. Можно смело утверждать, что словосочетание «современное производство» по своему смыслу идентично фразе «экологичное и безотходное производство».
            .textContent__text__media
                img(src="../../img/b6.jpg", alt="")
            p Наш комбинат крайне скурпулезен в вопросах экологии при проектировании, эксплуатации и обслуживании своих технологических линий. На производстве действует, и подвергается регулярному мониторингу, система управления качеством среды. Инструментами этой системы являются:
            ul
                li нормативно-правовые акты: законы, постановления, стандарты, договоры;
                li экономические рычаги: ассигнования, платежи, налоги, фонды;
                li информационное обеспечение: знания, опыт, наука, технологии;
                li социальные установки: традиции, культура, образование, воспитание.
            p В современном производстве, система управления качеством среды является одновременно и мерилом эффективности компании на рынке товаров и услуг, и стимулом к технологическому развитию, совершенствованию.

            h2 Открытость для органов государственного контроля
            p Все мы члены общества и государства, а значит должны уметь жить, работать и развиваться с учетом требований предъявляемых государством к документообороту и финансовой отчетности. Доступность информации в открытых источниках, прозрачность осуществляемой технологической и коммерческой деятельности вкупе с ясностью подаваемой информации, позволяют нам идти в ногу со временем и соответствовать мировому тренду «инновации и модернизация».
            .textContent__text__media
                img(src="../../img/b7.jpg", alt="")
            p Мы четко понимаем важность конструктивного взаимодействия с фискальными органами государства и считаем своим гражданским долгом соответствовать всем предъявляемым с их стороны требованиям.

            h2 Доступность Комбината для инвестиций

            p Современное производство, особенно его развитие и модернизация, не может эффективно существовать без своевременных и достаточных инвестиций. Приток заемных средств и привлечение в свои ряды эффективных инвесторов, позволяет Микояновскому мясокомбинату развивать свою инфраструктуру и получать от нее максимальную финансовую, имиджевую и социальную отдачу.
            .textContent__text__media
                img(src="../../img/b8.jpg", alt="")
            p Оперативная закупка оборудования, программного обеспечения и найм на работу профессионалов высокого уровня невозможен без благоприятного финансового фона. Работа в условиях конкуренции сформировала на нашем комбинате эффективное умение привлекать сторонние инвестиции и грамотно сотрудничать с нашими инвесторами.

            
