//- Страница: История завода
//- Наследуемый шаблон: base.pug
extends ../../layouts/base/base.pug

//- Подключенные миксины
include ../../mixins/textContentMixin

//- Переменные
block variables
    - var pageTitle = "История"

//- Подключенные таблицы стилей
block links
    link(rel="stylesheet" href="../../css/history.css")

//- Контент страницы
block content
    +textContentMixin({h1: "История", h2: "История Микояновского мясокомбината"})
        .textContent__text
            h2 До 1917 года

        p Микояновский мясокомбинат является старейшим мясоперерабатывающим предприятием страны, его история насчитывает более 210 лет. Первое упоминания о том, что на месте современных микояновских корпусов когда-то располагались мясницкие бойни, относятся к 1798 году.

        p В документах Канцелярии главнокомандующего в Москве и губернии по гражданской части генерала-фельдмаршала И. П. Салтыкова имелись свидетельства о том, что в 1798 году на землях деревни Грайворон, Ямской и Рогожской слободы происходила концентрация производств по убою скота, его разделке и продаже мяса. Именно там купец Благушин держал собственные бойни.

        p На этих землях селились новые мясники, открывались новые бойни, и со временем здесь образовалось мясное дело городского уровня, которому московские власти придавали большое значение.

        .textContent__text__media
                img(src="../../img/h1.jpg", alt="")

        p В 1886—1888 годах городской голова Николай Алексеев решил упорядочить московское боенное хозяйство и на муниципальный заем построил на месте купеческих мясных лавок лучшие в Европе городские скотобойни. Было затрачено 3 млн золотых рублей. Строительство боен подразумевало использование наиболее современных технологий. Были построены скотопригонный двор и 5 загонных дворов, рельсовый путь, холодильные машины, водопровод от артезианского колодца на Яузском бульваре, канализацию на собственные поля орошения. В 1913 году на территории боен действовал ресторан, библиотека и единственный в России музей по мясоведению с коллекцией художественных муляжей. Был оборудован театр с лекционным залом на 300 мест и синематограф.

        h2 При Советской власти

        p После революции советское правительство в 1930 году командировало специалистов «Союзмяса» в Чикаго (США) для знакомства с опытом мясопереработки и организации колбасного производства. Нарком Анастас Иванович Микоян лично побывал в Америке для изучения мясоперерабатывающей промышленности. А годом спустя в Москве, на будущей территории «Микояна» было начато строительство первых корпусов предприятия, которой получило название «Первый московский колбасный завод». 31 декабря 1933 начали работу все девять цехов Московского мясокомбината; ещё через год ему было присвоено имя наркома А. И. Микояна.

        .textContent__text__media
                img(src="../../img/h2.jpg", alt="")

        p История Микояновского мясокомбинатаВ это время технологами комбината были разработаны десятки марок колбас, в частности, «Докторская», Любительская", «Чайная» и «Брауншвейгская». На основании микояновских разработок создавались ГОСТ на колбасные изделия, деликатесы, консервы и полуфабрикаты.

        h2 Годы войны

        p В июне 1941 года в ряды Вооруженных Сил были призваны более полутора тысяч работников комбината. В июле 250 человек ушли добровольцами в народное ополчение. Более семисот сотрудников комбината погибли в годы Великой Отечественной войны.

        p Уход такого количества сотрудников тяжело отразился на производстве, однако коллектив нашел выход из ситуации: новым профессиям были обучены женщины, пенсионеры и подростки. Удалось не только сохранить темпы производства, но и наладить выпуск новых изделий — пищевых концентратов для Красной армии. В годы войны на комбинате было организовано производство медицинских препаратов на основе эндокринного сырья, получаемого при убое скота: если в 1942 году промышленность выпускала всего четыре наименования органопрепаратов, то в 1944 году их было уже 40. На комбинате и на Ленинградском мясокомбинате впервые в стране стали вырабатывать пенициллин.

        p Одновременно на предприятии было освоено производство новых видов продукции, обеспечивающих питание работников тыла.

        .textContent__text__media
                img(src="../../img/h3.jpg", alt="")

        p История Микояновского мясокомбинатаКоллектив мясокомбината участвовал в сборе средств на строительство вооружения и военной техники для армии: например, для танковой колонны «Москва» было собрано 604 тысячи рублей.

        p За обеспечение армии вооружением и продуктами предприятию было передано на вечное хранение боевое знамя 1-ой Гвардейской Московской Краснознаменной стрелковой дивизии. Коллектив был также отмечен орденом Ленина. Орденами и медалями награждены 67 работников комбината.

        h2 После 1991 года

        p В 1998 году «Микоян» стал частью крупного агропромышленного холдинга — «Эксима», который инвестировал в комбинат более 200 млн $, переоборудовал старые производственные линии и построил новые (заменено более 85 % оборудования), повысил зарплаты, улучшил условия труда.

        p В 2004 году «Микоян» произвел запуск инновационного мясоперерабатывающего комбината «Евро ЭМ» стоимостью 2 млрд руб., оснащенного современным оборудованием и средствами контроля безопасности и управления.

        p В 2005 году «Эксима» совместно с «Микояновским мясокомбинатом» начали строительство первого в России генетического центра в сфере свиноводства в Орловской области. В 2007 году было завезено 3300 чистопородных животных фирмы «Hypor».

        .textContent__text__media
                img(src="../../img/h4.jpg", alt="")
                img(src="../../img/h5.jpg", alt="")
                img(src="../../img/h6.jpg", alt="")
                img(src="../../img/h7.jpg", alt="")
                img(src="../../img/h8.jpg", alt="")
                img(src="../../img/h9.jpg", alt="")